SUPABASE_URL=https://frowvqjbbogrblhfrgtd.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZyb3d2cWpiYm9ncmJsaGZyZ3RkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5MTU5OTAsImV4cCI6MjA4OTQ5MTk5MH0.pzbmPdeLHiExmIiU-JWMQK2CiwOvg04Nl9O45cNFKG8
